@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "tailwindcss";

/* @theme { */
  /* --color-bgdark: #111844; */
  /* --color-secondary: #fc1278; */

  /* Purple */
  /* --color-primary: #8140DC; */
  /* --color-primary: #038f69; */
  /* --color-primary: #5050b8; */
  /* --color-danger: red; */
/* } */

@theme {

  /* Primary */
  --color-primary: #3368A0;
  /* --color-primary: #2A835F; */
  /* --color-primary: #3A86FF; */
  /* --color-primary: #5050b8; */

  /* Primary Shades */
  --color-primary-900: #2b2b68;

  /* Surface */
  --color-surface: #f6f7fb;
  --color-surface-border: #e4e5ef;

  /* Font */
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;

  /* Shadow */
  --shadow-card: 0 2px 2px 0px rgba(16, 24, 40, 0.09);
}

/* body {
  font-family: "Inter", sans-serif;
} */

@theme {
  --color-surface: #f6f7fb;
  --color-ink-900: #101828;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

/* Hide scrollbar but allow scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}
